.task-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.task-form h2 {
  margin: 0;  
}

.task-form > form {
  width: 100%;
  padding-right: 15px;
  box-sizing: border-box;
}

.task-form > form > div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.task-form > form > div > div {
  flex: 1;
}

.task-form input,
.task-form select,
.task-form textarea {
  border-radius: 8px;
  border: var(--global-border);
  color: black;
  flex: 1 1;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
  outline: 0;
  padding: 0.745rem 0.745rem;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.task-form input.error,
.task-form select.error,
.task-form textarea.error {
  border: 1px solid var(--global-primary-color);
}

.task-form textarea {
  min-height: 140px;
}

.task-form button {
  transition: all 0.3s ease-out;
  background-color: var(--global-primary-color);
  border-radius: var(--global-radius);
  border: 1px solid white;
  color: white;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  justify-content: center;
}

.task-form button:hover {
  color: var(--global-primary-color);
  border-radius: 1px solid var(--global-primary-color);
  background-color: white;
  padding: 10px;
}


.errorText{
  font-size: 14px;
  color: var(--global-primary-color);
}

@media (min-width: 1300px) {
  #tasks .wrapper_list {
    flex: 1;
  }
  
  .task-form > form > div {
    flex-direction: row;
  }
}